* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(back.jpg);
    background-size: contain;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}
header p,
.card p {
    color: #D18E2D;
}
header,
.card {
    background-color: #272727;
    margin: -1px 0 40px;
    text-align: center;
    color: #eee;
    padding: 10px;
    border-right: 2px solid #20A7C0;
    border-left: 2px solid #20A7C0;
    border-radius: 10px;
    line-height: 2;
}
.card {
    background-color: #121212;
    color: #20a7c0;
    margin: 40px 20px;
    transition: .5s ease ;
    transition: .3s ease;
}

.card .price {
    color: rgba(161, 24, 24, 1);
}

.card:hover {
    transform: translateY(-5px);
}
a {
    text-decoration: none;
    color: #8107C3;
    font-weight: bold;    
}

.card-link {
    display: block;
}

footer {
    background-color: black;
    color: #eee;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: 80px;
    line-height: 2;
}
